body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

#myKeyboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

#myTextArea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#myButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

#mySendButton, #myRemoveButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff9a9e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#mySendButton:hover  {
    background-color: #02ff06;
}

#myRemoveButton:hover{
    background-color: #ff0202;
}

#myEmojiContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.myEmojiButton {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.1s;
}

.myEmojiButton:hover {
    transform: scale(1.2);
}

#myMessageContainer {
    width: 100%;
    margin-top: 10px;
}

.myMessageCard {
    background: #fad0c4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
